<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastrar</title>
	
	
</head>



<body>

	<div class="container-fluid">
		<h1>Cadastro Alunos</h1>
		<form method="post" th:action="@{/aluno}"> <!-- Links -->
			<label for="nome">Nome:</label>
			<input id="a1" type="text" name="nome">
			<label for="email">E-mail:</label>
			<input type="text" name="email"><br><br>
			<div>
				<div>
					<label for="senha1">Senha:</label>
					<input id="a2" type="password" name="senha">
				</div>
				<div id="a5"><a href="/lista"><p >Lista de Contatos<p></a></div>
			</div>
			
			<input id="a3" type="submit" value="Salvar">
			<a href="/professor/cadastrarProf"><p id="a4">Professor? Cadastre-se aqui</p></a>
			
		</form>

	</div>
</body>

</html>