<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>

<body>

<form th:object="${prof}" method="post" th:action="@{/professor/editar}">

<p th:if="${error != null}">[[${error}]]</p>

<input type="hidden" th:field="*{nome}">
<input type="password" th:field="*{senha}">
<input type="hidden" th:field="*{id}">
			<label for="email">E-mail:</label>
			<input type="text" name="email" th:field="*{email}"><br><br>
			<select name="areadoconhecimento" th:field="*{areadoconhecimento}">
			<option value="PORTUGUES">PORTUGUÊS</option>
	<option value="MATEMATICA">MATEMÁTICA</option>
	<option value="QUIMICA">QUÍMICA</option>
	<option value="FISICA">FÍSICA</option>
	<option value="GEOGRAFIA">GEOGRAFIA</option>
	<option value="HISTORIA">HISTÓRIA</option>
	<option value="EDUCACAOFISICA">EDUCAÇÃO FÍSICA</option>
	<option value="INGLES">INGLÊS</option>
	<option value="ESPANHOL">ESPANHOL</option>
	<option value="FILOSOFIA">FILOSOFIA</option>
	<option value="SOCIOLOGIA">SOCIOLOGIA</option>
	<option value="ARTES">ARTES</option>
	<option value="LOGICADEPROGRAMACAO">LOGICA DE PROGRAMACAO</option>
	<option value="BANCODEDADOS">BANCO DE DADOS</option>
	<option value="FOC">FOC</option>
	<option value="LINGUAGEMDEPROGRAMACAO">LINGUAGEM DE PROGRAMACAO</option>
	<option value="DAM">DAM</option>
	<option value="PIA">PIA</option>
	<option value="DAMA">DAMA</option>
	<option value="PWEB">PWEB</option>
			</select>
			<input type="submit" value="Salvar" class="btn btn-primary">
			
</form>


</body>